html {
  font-size: 16px;
}

header h1 {
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-top: 2rem;
  color:white;
}

header h2 {
  color: grey;
  margin-top: 0;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.dark {
  background-color: black;
  color: white;
}

.dark a {
  color: crimson;
  margin: .75rem;
}

.title {
  text-decoration: none;
}

.dark nav {
  background-color: lightgrey;
  padding: 1rem;
}

.dark nav a {
  color: rebeccapurple;
}

.book-link {
  float: right;
}

article {
  float: left;
  margin: 1.5rem;
}

.story {
  width: 60%;
 }

.quote {
  font-style: italic;
}

aside {
  border: .2rem solid darkgrey;
  float: right;
  margin: 2rem .5rem 2rem .5rem;
  padding-bottom: .5rem;
}

aside a {
  margin-right: .5rem;
}

aside p {
  padding-bottom: 1rem;
}

aside span {
  float: left;
  padding: 0 .75rem 0 .75rem;
}

.cat-example {
  text-align: center;
}

.cat-example h3 {
  clear: both;
}

.cat-example img {
  width: 15rem;
  height: 15rem;
}

.cat-to-book {
  float: left;
  border: .6rem solid lightgrey;
  padding: .6rem;
  margin: .5rem 1.25rem .5rem 1.25rem;
  text-align: center;
}

.cat-to-book img {
  width: 12rem;
  height: 12rem;
}

.cat-to-book figcaption {
  font-size: 1rem;
  width: 12rem;
}

.book-now {
  font-size: .85rem;
  float: right;
}

footer {
  clear: both;
  font-size: 85%;
}

footer p {
  margin: 0;
}

.contact-info {
  padding: .75rem 0 0 .75rem;
}

.contact-info a {
  margin: 0;
}

.copyright {
  text-align: center;
}